.btn-container {
    width: 100%;
    margin-top: 1%;
}

.btn {
    background-color: white;
    width: 40%;
    height: 10%;
    margin: 3% 30% 0;
    border: none;
    border-radius: 10%/25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}