.menu-container {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 91%;
    margin-top: 9%;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.menu-link {
    color: white;
}
