.phone-header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position:fixed;
    z-index: 10;
    background-color: black;
}

.title-container {
    margin-left: 4%;
}

.title {
    font-size: 1.8rem;
    white-space: nowrap;

}